<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Task Manager{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header>
    <strong>IT Company Task Manager</strong>
    <nav>
      <a href="{% url "tasks:index" %}">Home</a>|
      <a href="{% url "tasks:task-list" %}">Tasks</a>|
      <a href="{% url "tasks:worker-list" %}">Workers</a>|
      <a href="{% url "tasks:position-list" %}">Positions</a>|
      <a href="{% url "tasks:task-type-list" %}">Task Types</a>

      {% if user.is_authenticated %}
        <p>Hello {{user.username}}!</p>
        <form action="{% url "logout" %}" method="post">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      {% endif %}
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
    {% block pagination %}
      {% include "includes/pagination.html" %}
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2026 Task Manager. All rights reserved.</p>
  </footer>
</body>
</html>
