{% extends "base.html" %}
{% block title %}Task Types | Task Manager{% endblock %}
{% block content %}
  <h1>Task Types</h1>
  <p><a href="{% url "tasks:task-type-create" %}">+ Create new task type</a></p>
  {% if task_type_list %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>№ of Tasks</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for task_type in task_type_list%}
          <tr>
            <td>{{ task_type.name }}</td>
            <td>{{ task_type.num_tasks }}</td>
            <td><a href="{% url "tasks:task-type-update" pk=task_type.id %}">Update</a></td>
            <td><a href="{% url "tasks:task-type-delete" pk=task_type.id%}">Delete</a></td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No task types found</p>
  {% endif %}
{% endblock %}
