{% extends "base.html" %}
{% block title %}Task Detail | Task Manager{% endblock %}
{% block content %}
  <h1>{{ task.name }}
    <a href="{% url "tasks:task-update" pk=task.id %}">Update</a>
    <a href="{% url "tasks:task-delete" pk=task.id %}">Delete</a>
  </h1>
  <p><strong>{{ task.description }}</strong></p>
  <p><strong>Type of task: {{ task.task_type.name }}</strong></p>
  <p><strong>Deadline: {{ task.deadline }}</strong></p>
  <p><strong>Priority: {{ task.get_priority_display }}</strong></p>
  <p><strong>Status:{% if task.is_completed %}✅ Completed{% else %}❌ In Progress{% endif %}</strong></p>
  <hr>
  <form method="post" action="{% url "tasks:toggle-assign-task" pk=task.id %}">
    {% csrf_token %}
    {% if task in user.tasks.all %}
      <button type="submit">
        Delete me from this task
      </button>
    {% else %}
      <button type="submit">
        Assign me to this task
      </button>
    {% endif %}
  </form>
  <h3>Assignees</h3>
  <ul>
    {% for worker in task.assignees.all %}
      <li>
        {{ worker.first_name }} {{ worker.last_name }}
        ({{ worker.username }})
        <b>[{{ worker.position.name|default:"No position" }}]</b>
      </li>
    {% empty %}
      <li>No assignees assigned to this task.</li>
    {% endfor %}
  </ul>
{% endblock %}
