{% extends "base.html" %}
{% block title %}Tasks | Task Manager{% endblock %}
{% block content %}
  <h1>Tasks</h1>
  <p><a href="{% url "tasks:task-create" %}">+ Create new task</a></p>
  <form action="" method="get">
    {{ search_form }}
    <input type="submit" value="Find">
  </form>
  {% if task_list %}
    <div>
      {% for task in task_list %}
        <div>
          <h2><a href="{% url "tasks:task-detail" pk=task.id %}">{{ task.name }}</a></h2>

          <p><b>Type:</b> {{ task.task_type.name }}</p>
          <p><b>Priority:</b> {{ task.get_priority_display }}</p>
          <p><b>Deadline:</b> {{ task.deadline }}</p>
          <p><b>Status:</b>
            {% if task.is_completed %}
              ✅ Completed
            {% else %}
              ❌ In Progress
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    No tasks found
  {% endif %}

{% endblock %}
