{% extends "base.html" %}
{% block title %} {{ worker.username }} | Task Manager{% endblock %}
{% block content %}
  <h1>{{ worker.username }} | {{ worker.position.name }}
    <a href="{% url "tasks:worker-update" pk=worker.id %}">Update</a>
    <a href="{% url "tasks:worker-delete" pk=worker.id %}">Delete</a>
  </h1>
  <p><strong>{{ worker.first_name }} {{ worker.last_name }}</strong></p>
  <p><strong>Email: {{ worker.email }}</strong></p>
  <h3>Tasks:</h3>
  <h4>In progress:</h4>
  <ul>
    {% for task in worker.tasks.all %}
      {% if not task.is_completed %}
        <li>
          <a href="{% url "tasks:task-detail" pk=task.id %}">{{ task.name }}</a>
          <span>({{ task.task_type }})</span>
          <span>Priority: {{ task.get_priority_display }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <h4>Completed Tasks:</h4>
  <ul>
    {% for task in worker.tasks.all %}
      {% if task.is_completed %}
        <li>
          <a href="{% url "tasks:task-detail" pk=task.id %}">{{ task.name }}</a>
          <span>({{ task.task_type }})</span>
          <span>Done</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
