{% extends "base.html" %}
{% block title %}Workers | Task Manager{% endblock %}
{% block content %}
  <h1>Workers</h1>
  <p><a href="{% url "tasks:worker-create" %}">+ Create new Worker</a></p>
  {% if worker_list %}
    <div>
      {% for worker in worker_list %}
        <div>
          <h2><a href="{% url "tasks:worker-detail" pk=worker.id %}">{{ worker.username }}</a></h2>

          <p><b>Position:</b>
            {% if worker.position %}
              {{ worker.position.name }}
            {% else %}
               No position
            {% endif %}
          </p>

          <p><b>First Name:</b> {{ worker.first_name }}</p>
          <p><b>Last Name:</b> {{ worker.last_name }}</p>
          <p><b>Email:</b> {{ worker.email }}</p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    No workers found
  {% endif %}

{% endblock %}
